# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Environment variables
.env

# Ignore generated graph files 
outputs/graphs/*.jpg
outputs/graphs/*.jpeg
outputs/graphs/*.png

# Ignore generated tables 
outputs/tables/*.xlsx

# Ignore processed datasets 
outputs/processed_data/*.xlsx

# ignore datasets
data/*.xlsx
